{
    "extends": "stylelint-config-sass-guidelines",
    "plugins": [ "stylelint-order"],
    "rules": {
        "max-nesting-depth": [
            2,
            {
                "ignore": ["pseudo-classes"]
            }
        ],
        "selector-no-qualifying-type": [
            true,
            {
                "ignore": ["attribute", "class"]
            }
        ],        
    }
}