<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PAFC Survey</title>
</head>
<body> 
    <div class="email-container">
        <div class="email-content">
            <p>
                Dear {{clientName}},
            </p>
            <p>
                Thanks for applying submitting our survey, please find attached a copy of your survey,
            </p>
        </div>
    </div>
</body>
</html>


