<!DOCTYPE html>
<htm lang="en">
<head>
    <meta charset="utf-8">
    <title>PAFC Survey</title>
    <style>html{zoom: 0.4;}</style>
    {{> mainLayoutStyles }}
</head>
<body> 
    {{{body}}} 
</body>
</html>