@import  '../base/variables';

.header-container {
  background-color: $primary-colour;
  width: 100%;
    
  .header-container-inner {
    background-image: url('../assets/images/logo.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: auto 90%;
    margin: 0 auto;
    max-width: 1164px;

    h1 {
      color: #fff;
      display: inline-block;
      font-size: 20px;
      margin: 15px auto;
      padding-left: 65px;
    }    
  }        
}
