@import './variables';

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: $secondary-font;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
label.heading {
  font-family: $primary-font;
  font-weight: normal;
}

h1 {
  font-size: 32px;
  margin-top: 42px;
  text-align: center;
}

h2,
label.heading {
  font-size: 22px;
  margin-top: 35px;
}

label.heading {
  display: inline-block;
}

input+label,
button {
  cursor: pointer;
}

textarea:focus,
input:focus {
  outline: none;
}

h1,
h2,
h3,
input,
textarea,
select {
  color: $text-colour;
}
