@import './variables.scss';

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-family: $secondary-font;
}

h1, h2, h3, label.heading {
    font-weight: normal;
    font-family: $primary-font;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 42px;
}

h2, label.heading {
    margin-top: 35px;
    font-size: 22px;
}

label.heading {
    display: inline-block;
}

input+label, button {
    cursor: pointer
}

textarea:focus, input:focus {
    outline: none;
}

h1, h2, h3, input, textarea, select {
    color: $text-colour;
}
