$primary-colour: #034638;

$text-colour-lighter: #323232;
$text-colour: #333333;

$link-colour: $primary-colour;
$border-colour: #c9c6c6;
$box-shadow-color: #bcbcbc;

$primary-transition-time: 600ms;
$secondary-transition-time: 400ms;
$tertiary-transition-time: 500ms;

$z-index-priority-lower: -1;
$z-index-priority-low: 1;
$z-index-priority-medium: 50;
$z-index-priority-high: 100;
$z-index-priority-higher: 150;
$z-index-priority-highest: 200;

$break-phones: 320px;
$break-large-phones: 576px;
$break-tablets: 768px;
$break-medium-desktops: 992px;
$break-large-desktops: 1200px;