@import './radioItems.scss';
@import '../../base/variables.scss';

.question-option-container {
    ul {
        list-style: none;
        margin: 0px;
        overflow: auto;
        padding: 0px;

        li {
            background-color: white;
            border-radius: 8px;  
            border: solid 2px $border-colour;  
            margin-top: 16px;
            position: relative;
            transition: border $primary-transition-time ease-in-out;

            &.selected {
                border: solid 2px $primary-colour;  
                transition: border $primary-transition-time ease-in-out;

                .radio-item {
                    @include radio-item-selected
                }
            }

            .radio-item {
                @include radio-item
            }

            input[type=radio]
            {
                display: none;
            }

            .question-option-title
            {
                line-height: 1.44;
                position: relative;
                width: 100%;

                label {
                    cursor: pointer;
                    display: inline-block;
                    padding: 15px 15px 15px 57px;
                    width: 100%;
                }
            }
        }
    }
}