@import '../../base/variables.scss';

@mixin radio-item-common {
    display: absolute;
    &:before {
        -webkit-transition: $secondary-transition-time ease-in-out all;
        border-radius: 10px;
        box-sizing: border-box;
        content: '';
        display: inline-block;
        height: 20px;
        left: 20px;
        position: absolute;
        top: 18px;
        transition: $secondary-transition-time ease-in-out all;
        width: 20px;
    }
}

@mixin radio-item-selected {
    @include radio-item-common;
    &:before {
        -webkit-box-shadow: 0 0 0 2px $primary-colour;
        background-color: $primary-colour;
        border: 5px solid white;
        box-shadow: 0 0 0 2px $primary-colour;
    }
}

@mixin  radio-item {
    @include radio-item-common;
    &:before {
        -webkit-box-shadow: 0 0 0 2px $box-shadow-color;
        box-shadow: 0 0 0 2px $box-shadow-color;
    }
}