@import '../../base/variables.scss';

.summary-row {
    padding: 16px 0;

    .summary-row-heading {
        display: flex;
        justify-content: stretch;

        .summary-row-heading-label {
            flex-basis: 1;
            flex-grow: 1;
            flex-shrink: 1;
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 5px;
        }

        .summary-row-heading-buttons-wrapper {
            button {
                background-color: white;
                border: none;
                color: $primary-colour;
                font-size: 16px;
                text-decoration: underline;
                transition: color $secondary-transition-time ease-in-out;
            }

            .summary-row-heading-save-button {
                border-right: 2px solid $border-colour-darker;
                margin-right: 9px;
                padding-bottom: 2px;
                padding-right: 9px;
                padding-top: 2px;
            }

            .summary-row-heading-edit-button {
                background: url(../assets/images/edit.svg) no-repeat 0px 3px/15px auto; 
                padding-left: 23px;
            }
        }
    }

    .summary-row-value {
        font-size: 16px;

        p {
            font-size: 16px;          
        }        
    }
}

.summary-row-separator {
    background-color: #d8d8d8;
    border-bottom: solid 1px $border-colour-darker;
    height: 1px;
    opacity: 0.4;
}
