/* stylelint-disable max-nesting-depth */
@import '../../base//variables';

.validation-message-wrapper {
  margin-bottom: 25px;
  margin-top: 15px;

  .validation-arrow {
    border-bottom: 10px solid $validation-background-color;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    margin-left: 10%;
    width: 0;
  }
    
  .validation-message {
    background-color: $validation-background-color;
    border: solid 1px $validation-border-color;
    color: #fff;
    letter-spacing: 0.2px;
    line-height: 1.44;
    padding: 20px;
  }
}

.validation-container {
  &:not(.validation-container-visited) {
    input[type=text],
    input[type=date] {
      &:focus {
        border-bottom: 6px solid $focused-background-color;
      }
    }
  }

  .validation-input-wrapper {
    margin-top: 16px;
  }

  &.validation-container-visited {
    &.validation-container-invalid {
      .validation-input-wrapper {
        color: $validation-background-color;

        [type=text],
        [type=date] {
          border-bottom: 6px solid $validation-background-color;
          color: $validation-background-color;
        }
      }
    }

    &.validation-container-valid {
      .validation-input-wrapper {
        border-bottom: 6px solid $valid-background-color;
        position: relative;

        &::before {
          background-image: url('../assets/images/inputCompleteIcon.svg');
          background-repeat: no-repeat;
          background-size: 20px 20px;
          content: '';
          display: inline-block;
          height: 20px;
          position: absolute;
          right: 20px;
          top: 15px;
          width: 20px;
          z-index: $z-index-priority-high;
        }
      }
    }
  } 
}
